# Byte-compiled / optimized / compiled files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg
.env

*.csv
*.xls
*.xlsx
firebase_key.json
proxy.txt
.next
node_modules
.env.local
.env.example
app_reference.py
.vercel
